.form_heading {
  color: #ff3b30;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;

  margin-top: 2rem;
}

.form_container {
  justify-content: center;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  max-width: 32rem;

  padding: 4rem;

  margin: 12rem auto;

  border-radius: 1rem;
  border: 0.1rem solid lightgray ;
}

.logo {
  margin: auto;
}

.form {

  .group {
    margin-bottom: 1rem;

    .label {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0.25rem;
    }

    .control {
      margin: 0;
    }
  }

  .button_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    .login_button {
      background-color: #ff3b30;
      color: white;
      border: 0;
      border-radius: 0;

      min-width: 9rem;
      max-height: 2.5rem;

      &:focus, 
      &:hover {
        border-bottom: 0.25rem solid #d2271e;
        transition: none;
        box-shadow: none;
        background-color: #ff3b30;
      }
    }

    .register_button {
      color: inherit;
      background-color: transparent;
      border: 0;
      border-radius: 0;

      min-width: 9rem;
      height: 2.5rem;

      &:hover,
      &:focus  {
        box-shadow: none;
        background-color: #f0f0f0;
      }
    }
  }
}
