.add_form {
  font-size: 13px;
  padding: 1.5rem;
  font-family: 'Space Grotesk', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1.25rem;

  height: 100%;

  .heading {
    font-size: 2rem;
    font-weight: bold;
    color: #ff3b30;
  }

  .fields {
    flex-grow: 1;
  }

  .close_button {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5rem;
    font-weight: 400;
    padding: 0.5rem;
  }

  .group {
    font-size: 13px;
    margin-bottom: 0.5rem;

    .control {
      font-size: 12px;
      padding: 0 1rem;
      height: 2rem;
      background-color: none;
      border-radius: 0;

      border: 0;
    }

    .label {
      font-size: 14px;
      margin: 0;
    }
  }

  .add_spot_button {
    background-color: #ff3b30;
    border: 0;
    border-radius: 0;
    padding: 0.5rem;
    color: white;

    min-width: 12rem;
    height: 2.5rem;

    float: right;

    &:focus, 
    &:hover {
      border-bottom: 0.25rem solid #d2271e;
      transition: none;
      box-shadow: none;
      background-color: #ff3b30;
    }
  }

  .cancel_spot_button {
    border: 0;
    border-radius: 0;
    padding: 0.5rem;
    color: black;

    min-width: 12rem;
    height: 2.5rem;
    background-color: inherit;

    &:hover,
    &:focus  {
      box-shadow: none;
      background-color: #f0f0f0;
      color: black;
    }
  }
}
