.title {
  padding: 0.5rem 2rem;
  margin: 0;
  font-size: 16px;
  cursor: pointer;

  .filter_icon {
    margin-right: 1rem;
    height: 0.75rem;
    margin-bottom: 0.1rem;
  }
}

.filter_form {
  padding: 0.5rem 2rem;
  font-family: inherit;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .close_button {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5rem;
    font-weight: 400;
    padding: 0.5rem;
  }

  .label {
    font-size: 14px;
    margin: 0;
    margin-bottom: 0.25rem;
  }

  .control {
    border-radius: 0;
    margin-bottom: 1rem;
  }

  .button_apply {
    background-color: blueviolet;
    font-family: "Roboto";
    color: inherit;
    border: 0;
    font-weight: 500;
    border-radius: 0;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
    width: 100%;

    margin-top: 1rem;

    &:focus {
      box-shadow: none;
      background-color: blueviolet;
      color: inherit;
    }
  }

  .button_unapply {
    color: inherit;
    font-family: "Roboto";
    font-weight: 500;
    background-color: orangered;
    border: 0;
    border-radius: 0;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
    width: 100%;

    margin-top: 1rem;

    &:focus {
      box-shadow: none;
      background-color: orangered;
      color: inherit;
    }
  }
}
