.map_container {
  margin-top: 3.5rem;
  position: relative;
}

.anchor {
  position: absolute;
  height: 6rem;
  margin-top: -2rem;
  visibility: hidden;
}

.filter_overlay {
  position: absolute;
  background-color: #fafafa;

  right: 0;
  z-index: 999;

  margin-top: 0.5rem;
  margin-right: 1rem;

  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));

  cursor: auto;
}

.add_overlay {
  position: absolute;
  background-color: #fafafa;

  left: 0;
  bottom: 0;
  z-index: 999;

  border-radius: 0;

  margin-bottom: 0.5rem;
  margin-left: 1rem;

  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));

  cursor: auto;

  .add_button {
    background-color: #fafafa;
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0;
    color: black;

    &:focus {
      box-shadow: none;
      color: black;
      background-color: #eaeaea;
    }

    &:hover {
      background-color: #eaeaea;
    }
  }
}

.add_form_overlay {
  position: absolute;
  background-color: #fafafa;

  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  width: 48rem;
  height: 20rem;

  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));

  cursor: auto;
}
