.map_container {
  margin-top: 3.5rem;
}

.anchor {
  position: absolute;
  height: 6rem;
  margin-top: -2rem;
  visibility: hidden;
}

.overlay {
  position: absolute;
  background-color: #fafafa;

  right: 0;
  z-index: 999;

  margin-top: 0.5rem;
  margin-right: 1rem;

  padding: 0.5rem 2rem;
  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));

  cursor: auto;
}
